@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Not needed now but this should ensure that every "section" has the full vh occupied*/
  .section-min-height {
    height: calc(100vh - 81px);
  }

  /* Cool animation for the hamburger menu */
  .toggle-btn {
    @apply [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div]:rotate-[720deg] [&>div]:bg-transparent;
  }

  /* Since I used the same classes over and over inside the main.js file, so this wrapper is needed.
     The body is also necessary, because there is a issue where tailwind will not use this class on the darkmode 
     With body it will get a higher specificity and will display the hover effect as well as the basic color */

  body .dot-style {
    @apply animate-slide-span bg-violet-400 dark:bg-violet-400;
  }

  /* For the variable*/
  .rating-objects {
    --star-width: 50%;
  }

  /* Default star color*/
  .star {
    @apply text-gray-400;
  }

  /* Filled star + hover classes */
  .star-filled {
    @apply text-violet-400 transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:[text-shadow:0_0_10px_#a78bfa,0_0_20px_#c4b5fd];
  }

  /* filled star, but only with the width (fractional part) + hover classes */
  .star-fill-fractional {
    @apply relative transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:[text-shadow:0_0_10px_#a78bfa,0_0_20px_#c4b5fd];
  }

  /* This provides us with a second layer which sits on top of the first layer. So it appears that one star is fractionally filled! */
  .star-fill-fractional::before {
    content: "★"; /* overlay star */
    @apply absolute overflow-hidden text-violet-400;
    width: var(--star-width, 50%); /* fills half the star (default value) */
    overflow: hidden;
  }

  /* Will make the images "moon" and "sun" bigger while hovering */
  .toggle-mode .mode-btn.active img {
    transform: scale(1.2);
    filter: brightness(1.5);
  }

  .toggle-mode .mode-btn img {
    transition:
      transform 0.3s,
      filter 0.3s;
  }

  /* Will pause the slide effect while hovering */
  .testimonials-slider.group:hover {
    animation-play-state: paused;
  }
}
